/* styles */
/* styles */
/* called by your view template */

/* 
    flex container
*/
    .marvel-baddies{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }
      
    .flex-fl{
      display:flex;
      flex-direction: column;
      text-align: left;
    }
    .flex-fr{
      display:flex;
      flex-direction: column;
      text-align:right; 
    }


.evil:hover{
  color:#ed1d24;
}
.evil{
  text-decoration:none;
  color:#000000;
}



section.panel{
  padding-top:400px;
  padding-bottom:400px;
}
	

.panel {
		height: 100vh;
		width: 100vw;
	}
	.panel.blue {
    background-color:blue; 
	}
	.panel.turqoise{
    background-color: turquoise; 
    
	}
	.panel.bordeaux {
    background-color: red;
    margin-bottom:500px;
	}
	.panel.green {
    background-color: green; 
	}
 

h1 {
  font-family: 'Geostar Fill', cursive;
  font-size: 10em;
  text-align: center; 
}
p{
  font-family: 'Open Sans', cursive;
  font-size: 1em; 
  text-align: center;
}


footer{
  padding:50px;
}

